@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Anasayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Ürünler</a>
                <span class="breadcrumb-item active">Ürün listesi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        @await Component.InvokeAsync("_ProductListByFilterComponentPartial")
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_ProductListBySortingComponentPartial")
                <!-- Product Item Start -->
                @foreach (var item in Model)
                {
                    decimal x = item.Price + item.Price * 0.2m;
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="@item.ImageUrl" alt="" style="width:200px;height:250px;">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" asp-controller="Basket" asp-action="AddBasketItem" asp-route-productId="@item.Id"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>@item.Price TL</h5><h6 class="text-muted ml-2"><del>@x TL</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                @await Component.InvokeAsync("_ProductListPaginationComponentPartial")
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
